<footer>
    <p>
        Your privacy and trust are important to us. Ditto will never sell your private information*. We vow to protect personal information about you in the context of our services. If you have questions about how we handle your information, you can contact us by email at Privacy@ditto.com.
    </p>
</footer>
