<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/asset/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Ditto</title>
</head>

<body>
    <div id="particles-js"></div>
 	<script src="asset/particles.js"></script>
    <div id="container" class="container">
    </div>
    <div id="content">
        <form method="POST" enctype="multipart/form-data" action="/find">
            <table id="faceMatchTable">
                <tr>
                    <td colspan="2" style="text-align:center;"><label id="faceInputLabel">Face Match</label></td>
                </tr>
                <tr>
                    <td>
                        <select name="list">
                                <option name="billion" value="billion">Billionaires</option>
                                <option name="actors" value="actors">Actors</option>
                                <option name="presidents" value="presidents">Presidents</option>
                                <option name="nba" value="nba">NBA Players</option>
                                <option name="tennis" value="tennis">Tennis Players</option>
                                <option name="astronauts" value="astronauts">Astronauts</option>
                        </select>
                    </td>
                    <td>
                        <input type="file" id="fileInput" name="find" accept="image/png, image/jpeg">
                        <button type="submit" value="find" ><i class="fa fa-search"></i></button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>
<% include footer.ejs %>
</html>
