#bgImg {
    min-width: 100%;
    min-height: 100%;
    background: url("/asset/people walking.gif");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

#container {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    background-color: rgba(46,59,128,.5);
    z-index: 1;
    top: 0;
    left: 0;
}

#faceInputLabel {
    font-size: 24px;
    color: white;
    padding-bottom: 1vw;
}

input, select, button {
    padding: 12px 24px;
    border-radius: 8px;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

#faceMatchTable {
    margin: 0 auto;
}

#imageResultContainer{
    padding-top: 20px;
    display: flex;
}

.imageResult{
    width: 400px;
    height: 400px;
}

#userPhoto {
    padding-right: 50px;
}
